

        <img class="logo" src="# alt="logo">
        <nav class="navigation-bar">

            <ul class="nav-links">

                <li><a href="#">COMPRAR</a></li>
                <li><a href="#">ALUGAR</a></li>
                <li><a href="#">ANUNCIAR</a></li>
                <li><a href="#">LANÇAMENTOS</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">FINANCIAMENTO</a></li>
            </ul>
            
            <a class="cta" href="#"><button class="entry-button">ENTRAR</button></a>
        </nav>
        
        
    



