
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 214, 214);

}
.box{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(/imgs/imagem_financiamento.jpg); 
    opacity: 0.6;
    transition: 1.5s;
    background-repeat: no-repeat;
}

.box:hover{
    opacity: 1.0;
}
.titulo p{
    position: relative;
    width: 400px;
    height: 42px;
    left: 1300px;
    top: -410px;
    text-align: center;
    background-color: #4BC0C8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}
.titulo p{

    font-weight: center;
    font-size: 30px;
    line-height: 40px;
    align-items: center;
    letter-spacing: -0.427179px;
    color: #FFFFFF; 
}

.primeiro_texto p{
    position: relative;
    width: 700px;
    height: 30px;
    left: 1000px;
    top: -400px;
    font-style: normal;
    font-weight: normal;
    /* text-align: center; */
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.781); 
    border-radius: 50px; 
    text-indent: 4em;
    text-align: justify;
    margin: 0.2%;
    
}
.bancos_principal{
    display: flex;
}
.bancos img{
    /* width: 60px;
    height: 60px; */
    position: relative;
    left: 93px;
    top: -270px;
    margin: 10px; 
    border-radius: 30px;
    cursor: pointer;
    
   
}

.caixas_simulador input{
    border: 1px solid hsl(120, 2%, 24%);
    border-radius: 16px;
    width: 340px;
    height: 35px;
    font-size: 20px;
    margin: 0.6%;
    
    
}

.caixas_simulador {
    position: relative;
    width: 700px;
    height: 32px;
    left: 50px;
    top: -270px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    align-items: center;
    text-align: right;
    margin: 0.6%;
}

.simular h2{
    font-size: 50px;
    position: relative;
    top: -250px;
    left: 100px;
}
.simular p{
    position: relative;
    top: -270px;
    left: 100px;
    font-size: 30px;
}

.simular_2 p{
    position: relative;
    top: -260px;
    left: 100px;
    font-size: 30px;
}