<!DOCTYPE html>


<html lang="PT-Br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/cadastro.css">
        <title>Cadastro</title>
    </head>

    <!--Caso for usar o header, descomentar o código abaixo e incluir o arquivo
    'header.css' no head dessa página-->

    <body>

    <!--
        
        <header>
            <section class="top-container">
                <div class="nav-bar"><%- include ('./partials/header') %></div>
            </section>  
        <header>
        
     -->

    </body>
</html>