<!DOCTYPE html>


<html lang="PT-Br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/comprar.css">
        <link rel="stylesheet" href="/CSS/header.css">
        <link rel="stylesheet" href="/CSS/footer.css">
        <title>Comprar</title>
    </head>

<body>

    <section class="top-container">
        <header>
             <div class="nav-bar"><%- include ('./partials/header') %></div>
        <header>
    </section>  
        
    <main>

    </main>
    
    <footer></footer>
</body>
</html>