
html,body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(216, 214, 214);

}

/* imagem de fundo */
.box {
    
    position: absolute;
    width: 105vw;
    height: 100vh;
    background-size: cover;
    background-image: url(imgs/imagem_financiamento.jpg);
    opacity: 0.6;
    transition: 1.5s;
    background-repeat: no-repeat;
}

.box:hover {
    opacity: 1.0;
}
/* texto do titulo */
.titulo{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 10px;
}
.titulo h2{

    position: relative;
    background-color: #10b3ae;
    border-radius: 60px;
    color: #011312;
    font-size: max(30px,1vw);
    font-size: min(30px,3vw);
    width: 550px;
    text-align: center;
    top: 300px;
}

.texto_titulo1{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 1px;

}
.texto_titulo1 p{

    position: relative;
    background-color: #dfe9e8;
    border-radius: 60px;
    color: #011312;
    font-size: max(20px,1vw);
    font-size: min(20px,3vw);
    width: 700px;
    text-align: center;
    top: 300px;

}

.texto_titulo2{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 1px;

}
.texto_titulo2 p{

    position: relative;
    background-color: #dfe9e8;
    border-radius: 60px;
    color: #011312;
    font-size: max(20px,1vw);
    font-size: min(20px,3vw);
    width: 700px;
    text-align: center;
    top: 300px;

}

.texto_titulo3{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 1px;

}
.texto_titulo3 p{

    position: relative;
    background-color: #dfe9e8;
    border-radius: 60px;
    color: #011312;
    font-size: max(20px,1vw);
    font-size: min(20px,3vw);
    width: 700px;
    text-align: center;
    top: 300px;

}

.texto_titulo4{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 1px;

}
.texto_titulo4 p{

    position: relative;
    background-color: #dfe9e8;
    border-radius: 60px;
    color: #011312;
    font-size: max(20px,1vw);
    font-size: min(20px,3vw);
    width: 700px;
    text-align: center;
    top: 300px;

}

.texto_titulo5{
    display: flex;
    align-items: center;
    justify-content: right;
    /* height: 50vh; */
    padding: 1px;

}
.texto_titulo5 p{

    position: relative;
    background-color: #dfe9e8;
    border-radius: 60px;
    color: #011312;
    font-size: max(20px,1vw);
    font-size: min(20px,3vw);
    width: 700px;;
    text-align: center;
    top: 300px;

}

/* imagem dos bancos */
.bancos_principal{
    display: flex;
    margin: 2px;
    justify-content: center;

}
.bancos img{
    /* width: 60px;
    height: 60px; */
    width: max(100px,5vw);
    width: min(100px,5vw);
    height: max(100px,5vw);
    height: min(100px,5vw);
    position: relative;
    top: 780px;
    margin: 10px; 
    border-radius: 30px;
    cursor: pointer;   
}

/* segundo texto ultilizado antes das imagens dos bancos e texto ultilizado apos as imagens*/
.simular{
    position: relative;
    top: 780px;
    text-align: center;


}
.simular h2{
    
    font-size: max(60px,3vw);
    font-size: min(40px,3vw);

}
.simular p{
    position: relative;
    font-size: max(30px,1vw);
    font-size: min(20px,3vw);
}

.simular_2 p{
    position: relative;
    top: 780px;  
    font-size: max(30px,1vw);
    font-size: min(20px,3vw);
    text-align: center;
}

/* inputs e e texto que fica afrente do input*/
.box_simular1 {
    position: relative;
    top: 800px;  
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-indent: 40px;
    text-align: center;
    justify-content: center;


}

.box_simular1 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}
.box_simular2 {
    position: relative;
    top: 800px;   
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular2 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}

.box_simular3 {
    position: relative;
    top: 800px;    
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular3 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}
.box_simular4 {
    position: relative;
    top: 800px;   
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular4 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}
.box_simular5 {
    position: relative;
    top: 800px;    
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular5 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}

.box_simular6 {
    position: relative;
    top: 800px;    
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular6 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}
.box_simular7 {
    position: relative;
    top: 800px;    
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    text-align: center;
    justify-content: center;
}

.box_simular7 input{
    position: relative;
    border-radius: 50px;
    font-size: max(30px,3vw);
    font-size: min(30px,3vw);
    width: max(400px,30vw);
    width: min(400px,30vw);
    height: max(30px,3vw);
    height: min(30px,3vw);
    margin: 0.6%;
}
.box_simular8 {
    position: relative;
    top: 800px;    
    font-size: max(30px,1vw);
    font-size: min(20px,2vw);
    text-align: center;
    justify-content: center;
    text-indent: 150px;
}


/*footer*/
.final{
    position: relative;
    width:100%;
    height: 403px;
    top: 2000px;
    background-color: black;

}